*{
  box-sizing: border-box;

}

.body{
  width: 960px;
  margin: 0 auto;
}

.img{
display:inline-block;
vertical-align: top;
margin-top: 20px;


}
.container{
  display: inline-block;
  height: 380px;
  width: 300px;
  vertical-align:top;
  margin-left: 30px;
}
.text{
  font-size: 30px;
  color: red;
  font-style: italic;
}